<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/news">
        <i class="material-icons">
          timeline
        </i>
        Crypto News
      </a>
      <a mat-list-item routerLink="/paypal-transfer">
        <i class="material-icons">
          payment
        </i>
        Transfer to Paypal
      </a>
      <a mat-list-item routerLink="/contact-info">
        <i class="material-icons">
          info
        </i>
        Contact
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Crypto Client</span>
      <nav id="nav-links">
        <a mat-button [routerLink]="[ '/news' ]">
          <i class="material-icons">
            timeline
          </i>
          Crypto News
        </a>
        <a mat-button [routerLink]="[ '/paypal-transfer' ]" routerLinkActive="active">
          <i class="material-icons">
            payment
          </i>
          Transfer to Paypal
        </a>
        <a mat-button [routerLink]="[ '/contact-info' ]">
          <i class="material-icons">
            info
          </i>
          Contact
        </a>
      </nav>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>